/TME AFU
/afu-study
/Anglais
/AROB/arob
/DJ/CM/01-ExpressionPreferences_poly.xopp
/DJ/CM/02-DecisionDansIncertain_poly.xopp
/DJ/CM/03-ArbresDeDecision_poly3.xopp
/DJ/CM/08-ThJeux-FormeNormale_poly.xopp
/DJ/CM/09.xopp
/DJ/CM/10-ThJeux-JeuxRepetesEvolutionnairesCooperatifs_poly.xopp
/FOSYMA/dedale-etu
/FOSYMA/fosyma
/FOSYMA/startJade
/FOSYMA/1-LI COMBEAU-MARICAN.pdf
/FOSYMA/Projet FOSYMA.pdf
/FOSYMA/Projet FOSYMA.pptx
/FOSYMA/RapportFOSYMA.pdf
/FOSYMA/run projet.txt
/FOSYMA/sujet_projet_fosyma_2025.pdf
/ML
.github